@media(max-width:1199px){
    .navbar-brand h1 {
        font-size: 30px;
    }
    .hg h1 {
        font-size: 58px;
    }
    .hg {
        min-height: 75vh;
    }
    .what_we_do{
        background-size: 780px;
    }
    .languages-li p {
        font-size: 15px;
    }
    .languages-li h3{
        font-size: 24px;
    }
}
@media(max-width:991px){
    .navbar-brand h1 {
        font-size: 29px;
    }
    .hg h1 {
        font-size: 54px;
    }
    .hg {
        min-height: 70vh;
    }
    .content h2{
        font-size: 28px;
    }
    .content_icon{
        font-size: 23px;
    }
    .what_we_do{
        background-size: 600px;
    }
    .our_attorney h2{
        font-size: 25px;
    }
    .languages-li p {
        font-size: 13px;
    }
    .languages-li h3{
        font-size: 23px;
    }
}
@media(max-width:767px){
    .navbar-brand h1 {
        font-size: 28px;
    }
    .hg h1 {
        font-size: 54px;
    }
    .hg {
        min-height: 60vh;
    }
    .cntr{
        text-align: center;
    }
    .content h2{
        font-size: 20px;
    }
    .content_icon{
        font-size: 17px;
    }
    .what_we_do{
        background-size: 470px;
    }
    .our_attorney h2{
        font-size: 24px;
    }
    .languages-li p {
        font-size: 12px;
    }
    .languages-li h3{
        font-size: 22px;
    }
    .footer h6{
        font-size: 13px;
    }
    .linkli ul li a{
        font-size:15px;
    }
}
@media(max-width:575px){
    .navbar-brand h1 {
        font-size: 27px;
    }
    .hg h1 {
        font-size: 40px;
    }
    .hg {
        min-height: 50vh;
    }
    .cntr{
        text-align: center;
    }
    .icon{
        font-size: 25px;
    }
    .mg{
        padding-top: 25px;
    }
    .content h2{
        font-size: 22px;
    }
    .content_icon{
        font-size: 20px;
    }
    .what_we_do{
        background-size: 900px;
    }
    .our_attorney{
        padding-top: 0;
        padding-bottom: 50px;
    }
    .our_attorney h2{
        font-size: 20px;
    }
    .languages-li p {
        font-size: 12px;
    }
    .languages-li h3{
        font-size: 21px;
    }
    .footer h6{
        font-size: 12px;
    }
    .linkli ul li a{
        font-size:14px;
    }
}

